.products {
  padding: 80px;

  h3 {
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .product {
    background: #fff;
    padding: 20px;

    img {
      width: 100%;
    }
  }
}
