.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  overflow: hidden;
}

.slide {
  width: 100%;
  max-width: 420px;
  border-radius: 16px;
  overflow: hidden;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img,
.slide video {
  width: 100%;
  height: inherit;
  display: block;
  object-fit: contain;
  user-select: none;
}

.nav {
  margin: 8px;
  border-radius: 50%;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TABLET */
@media (min-width: 768px) {
  .slide {
    max-width: 520px;
    max-height: fit-content;
  }
  
}

/* DESKTOP */
@media (min-width: 1024px) {
  .slide {
    max-width: 600px;
     max-height: fit-content;
  }
}