.hero {
  min-height: calc(100vh - 80px);
  /* header height */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-content {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2b2b2b;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-content {
    padding: 2rem;
    text-align: center;
    h2 {
      font-size: 1.1rem;
    }
  }

  .hero-image {
    order: -1;
  }
}