.about {
  max-width: 1100px;
  margin: auto;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about h2 {
  font-size: 2.2rem;
}

.about p {
  opacity: 0.85;
}

/* Tablet */
@media (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .about {
    padding: 3rem 1rem;
  }
}
