.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #000;

  nav a {
    margin-left: 24px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}
